#language_no_selected{
  color:rgb(0, 255, 0);
  font-size:18px;
  font-weight: bold;
}


.stepButton {
    width:100%;
    height:100%;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #432cf4;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    transition: color 0.3s;
    position:relative;
  }
  
  .stepButton:hover {
    background-color: #432cf498;
  }
.listenButton {
    width:30%;
    height:100%;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #432cf4;
    cursor: pointer;
    font-size: 20px;
    outline: none;
    transition: color 0.3s;
    position:relative;
  }
  
  .listenButton:hover {
    background-color: #432cf498;
  }

  .dinamic{
    color:#ffffff;
    display:block;
    text-align: center;
    padding:20px;
    width:100%;
  }
  .text-title{
    font-size:30px;
    font-weight:bold;

  }
  .text-content{
    font-size:18px;
  }
  .text-content2{
    font-size:18px;
    font-weight: bold;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }
  .text-content22{
    color:white;
    font-size:18px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
    
    /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
    display: flex;
    justify-content: center;
    align-items: center;
  }


  select {
    outline:0;
    box-shadow:none;
    border:0;
    border-radius: 20px;
    margin:10px;
    max-width:100%;
     background: #432cf4;
     flex: 1;
     color:#fff;
     cursor:pointer;
     font-size: 16px;
     font-family:'Segoe UI';
     padding:10px 30px;
     overflow: hidden;
  }
 
 
 
  select option:disabled {
    color:black;
    background-color: #f0f4f4; 
  }


.container-size {
  display: flex; 
  flex-wrap: wrap;
  padding:5px 0px;
  justify-content: center;
}






.box-size {
  width:50%;
  padding: 10px;
  text-align: center;

  border: none;
  border-radius: 20px;
  color: white;
  background-color: #432cf4;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  cursor: pointer;
}

.box-size:hover {
  background-color: #432cf498;
}


  
